<div class="title">
  <h1>Heroes <small>Marvels y DC</small></h1>
</div>
  <hr>


  <div class="card-columns animated fadeIn ">
    <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
      <img class="card-img-top"[src]="heroe.img" [alt]="heroe.nombre">
      <div class="card-body">
        <h5 class="card-title">{{ heroe.nombre }}</h5>
        <p class="card-text">{{ heroe.resumen }}</p>
        <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

      <a [routerLink]="['/heroe',i]" class="btn btn-outline-dark btn-block">Ver mas link...</a>
      </div>




  </div>









