<h1>Heroes <small>Marvels y DC</small></h1>
<hr>

<!-- <div class="card-columns">

  <div class="card">
    <img class="card-img-top img-fluid" src="assets/img/blackwidow.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      <button type="button" class="btn btn-outline-primary btn-block">Ver mas</button>
    </div>
  </div>
</div>

<div class="card-columns">

  <div class="card">
    <img class="card-img-top img-fluid" src="assets/img/blackwidow.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      <button type="button" class="btn btn-outline-primary btn-block">Ver mas</button>
    </div>
  </div>
</div>
<div class="card-columns">

  <div class="card">
    <img class="card-img-top img-fluid" src="assets/img/blackwidow.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      <button type="button" class="btn btn-outline-primary btn-block">Ver mas</button>
    </div>
  </div>
</div>
<div class="card-columns">

  <div class="card">
    <img class="card-img-top img-fluid" src="assets/img/blackwidow.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      <button type="button" class="btn btn-outline-primary btn-block">Ver mas</button>
    </div>
  </div>
</div>
<div class="card-columns">

  <div class="card">
    <img class="card-img-top img-fluid" src="assets/img/blackwidow.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      <button type="button" class="btn btn-outline-primary btn-block">Ver mas</button>
    </div>
  </div>
</div>
<div class="card-columns">

  <div class="card">
    <img class="card-img-top img-fluid" src="assets/img/blackwidow.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      <button type="button" class="btn btn-outline-primary btn-block">Ver mas</button>
    </div>
  </div>
</div>
<div class="card-columns">

  <div class="card">
    <img class="card-img-top img-fluid" src="assets/img/blackwidow.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      <button type="button" class="btn btn-outline-primary btn-block">Ver mas</button>
    </div>
  </div>
</div>
<div class="card-columns">

  <div class="card">
    <img class="card-img-top img-fluid" src="assets/img/blackwidow.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      <button type="button" class="btn btn-outline-primary btn-block">Ver mas</button>
    </div>
  </div>
</div>
<div class="card-columns">

  <div class="card">
    <img class="card-img-top img-fluid" src="assets/img/blackwidow.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

      <button type="button" class="btn btn-outline-primary btn-block">Ver mas</button>
    </div>
  </div>
</div> -->


<div class="row row-cols-1 row-cols-md-3 g-4">

  <div class="col">
    <div class="card">
      <img src="assets/img/blackwidow.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <button type="button" class="btn btn-outline btn-primary">
          Ver mas...
        </button>
      </div>
    </div>
  </div>

</div>

